img {
    max-height: 150px;
    max-width: 150px;
    padding-left: 1%;
    padding-top: 1%;
}


nav {
    width: 100%;
    color:black;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.wrapper {
    padding-left: 10%;
    padding-right: 10%;
}
nav>a {
    padding-right: 2%;
}
button {
  border-radius: 8px;
  border: 1px solid #535bf2;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 3.75s;
}
nav>ul>li {
    text-decoration: none;
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 18px;
}
.wrapper > nav:nth-child(1) > ul:nth-child(2) > li:nth-child(1) > a:nth-child(1), .wrapper > nav:nth-child(1) > ul:nth-child(2) > li:nth-child(2) > a:nth-child(1), .wrapper > nav:nth-child(1) > ul:nth-child(2) > li:nth-child(3) > a:nth-child(1) {
        color: red;
}